.nav-pills.nav-attached-top {
  li {
    a {
      margin-top: 0;
      .border-top-radius(0);
    }
  }
}

.nav-pills.nav-attached-bottom {
  li {
    a {
      margin-bottom: 0;
      .border-bottom-radius(0);
    }
  }
}

.nav-stacked.nav-pills-orange {
  margin-top: 10px;
  li {
    background-color: @perconaOrange;
    color: @white;
    margin: 5px 0 5px;

    .orange-border(1px, 0, 1px, 1px);
    .border-left-radius(4px);
    .border-right-radius(0);

    a, a:hover, a:focus {
      .border-left-radius(4px);
      .border-right-radius(0);
      background-color: transparent;
      color: @white;

      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  li:hover {
    background-color: lighten(@perconaOrange, 5%);
  }

  li.active {
    background-color: @white;
    color: @textColor;

    a, a:hover, a:focus {
      background-color: transparent;
      color: @textColor;
      font-weight: bold;
    }
  }
}
